<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ingreso</servlet-name>
        <servlet-class>misservlets.ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresoCliente</servlet-name>
        <servlet-class>misservlets.ingresoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultas</servlet-name>
        <servlet-class>misservlets.Consultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>armas</servlet-name>
        <servlet-class>misservlets.armas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerArmas</servlet-name>
        <servlet-class>misservlets.VerArmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Municiones</servlet-name>
        <servlet-class>misservlets.Municiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accesorios</servlet-name>
        <servlet-class>misservlets.Accesorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarArmas</servlet-name>
        <servlet-class>misservlets.AgregarArmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarMuniciones</servlet-name>
        <servlet-class>misservlets.AgregarMuniciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAccesorio</servlet-name>
        <servlet-class>misservlets.AgregarAccesorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarArmas</servlet-name>
        <servlet-class>misservlets.ModificarArmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMunicion</servlet-name>
        <servlet-class>misservlets.ModificarMunicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAccesorios</servlet-name>
        <servlet-class>misservlets.ModificarAccesorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservas</servlet-name>
        <servlet-class>misservlets.Reservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar</servlet-name>
        <servlet-class>misservlets.Cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcarrito</servlet-name>
        <servlet-class>misservlets.Addcarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteReserva</servlet-name>
        <servlet-class>misservlets.ReporteReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteClientes</servlet-name>
        <servlet-class>misservlets.ReporteClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mantenimientos</servlet-name>
        <servlet-class>misservlets.Mantenimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuarios</servlet-name>
        <servlet-class>misservlets.AgregarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calibre</servlet-name>
        <servlet-class>misservlets.Calibre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Color</servlet-name>
        <servlet-class>misservlets.Color</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marca</servlet-name>
        <servlet-class>misservlets.Marca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoAccesorio</servlet-name>
        <servlet-class>misservlets.TipoAccesorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoArma</servlet-name>
        <servlet-class>misservlets.TipoArma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeloArma</servlet-name>
        <servlet-class>misservlets.ModeloArma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sucursal</servlet-name>
        <servlet-class>misservlets.Sucursal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ingreso</servlet-name>
        <url-pattern>/ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresoCliente</servlet-name>
        <url-pattern>/ingresoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultas</servlet-name>
        <url-pattern>/Consultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>armas</servlet-name>
        <url-pattern>/armas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerArmas</servlet-name>
        <url-pattern>/VerArmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Municiones</servlet-name>
        <url-pattern>/Municiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accesorios</servlet-name>
        <url-pattern>/Accesorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarArmas</servlet-name>
        <url-pattern>/AgregarArmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMuniciones</servlet-name>
        <url-pattern>/AgregarMuniciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAccesorio</servlet-name>
        <url-pattern>/AgregarAccesorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarArmas</servlet-name>
        <url-pattern>/ModificarArmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMunicion</servlet-name>
        <url-pattern>/ModificarMunicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAccesorios</servlet-name>
        <url-pattern>/ModificarAccesorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservas</servlet-name>
        <url-pattern>/Reservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar</servlet-name>
        <url-pattern>/Cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcarrito</servlet-name>
        <url-pattern>/Addcarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteReserva</servlet-name>
        <url-pattern>/ReporteReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteClientes</servlet-name>
        <url-pattern>/ReporteClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mantenimientos</servlet-name>
        <url-pattern>/Mantenimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuarios</servlet-name>
        <url-pattern>/AgregarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calibre</servlet-name>
        <url-pattern>/Calibre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Color</servlet-name>
        <url-pattern>/Color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marca</servlet-name>
        <url-pattern>/Marca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoAccesorio</servlet-name>
        <url-pattern>/TipoAccesorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoArma</servlet-name>
        <url-pattern>/TipoArma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeloArma</servlet-name>
        <url-pattern>/ModeloArma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sucursal</servlet-name>
        <url-pattern>/Sucursal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
